body {
	background-color: #161618;
	color: #f2f2f2;
	font-family: 'Courier New', monospace;
}
.main-container {
	margin-left: 24vw;
	margin-top: 36vh;	
}
#body-name {
	font-weight: 700;
}
.desc-links {
	color: #f2f2f2;
	text-decoration: none;
	transition: 0.5s;
}
.desc-links:visited {
	color: #f2f2f2;
	text-decoration: none;	
}
.desc-links:hover {
	color: #888888;
	text-decoration: none;
	transition: 0.5s;	
}
.body-links {
	margin-top: 3.2em;
}
.links {
	color: #f2f2f2;
	text-decoration: underline;
	transition: 0.5s;
}
.links:visited {
	color: #f2f2f2;
	text-decoration: underline;	
}
.links:hover {
	color: #888888;
	text-decoration: none;
	transition: 0.5s;	
}
.body-email {
	margin-top: 1em;
}



.tab-main-container {

}
.tab-left-container {
	float: left;
	width: 32vw;
	height: 99vh;
	background-color: blue;
}
.tab-middle-container {
	float: left;
	width: 36vw;
	height: 99vh;
	background-color: red;
}
.tab-right-container {
	float: left;
	width: 26vw;
	height: 83vh;
	padding-left: 4vw;
	padding-top: 16vh;
	/*background-color: green;*/
}
.company-logo {
	width: 5vw;
}