body {
	background-color: #161618;
	color: #f2f2f2;
}
.left-container {
	float: left;
	height: 100%;
	width: 24%;
}
.right-container {
	float: left;
	height: 100%;
}
.top-container {
	height: 32%;
	width: 100%;	
}
.bottom-container {
	font-family: 'Courier New', monospace;
	width: 48%;
}
#body-name {
	font-weight: 700;
}
.desc-links {
	color: #f2f2f2;
	text-decoration: none;
	transition: 0.5s;
}
.desc-links:visited {
	color: #f2f2f2;
	text-decoration: none;	
}
.desc-links:hover {
	color: #888888;
	text-decoration: none;
	transition: 0.5s;	
}
.body-links {
	margin-top: 3.2em;
}
.links {
	color: #f2f2f2;
	text-decoration: underline;
	transition: 0.5s;
}
.links:visited {
	color: #f2f2f2;
	text-decoration: underline;	
}
.links:hover {
	color: #888888;
	text-decoration: none;
	transition: 0.5s;	
}
.body-email {
	margin-top: 1em;
}
